@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');
    .login-header{
        width: 100%;
        height: 0;
        background-image: url('../assets/imgs/login.png');
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 71.50%;
    }
    .title{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-align: center;
        color: #ED2553;
        font-size: 3.5rem;
    }
.toast-md .toast-wrapper{
    background-color: color($colors,'primary')!important;
}
.authform{
    margin-top: 25px;
    font-family: 'Montserrat',sans-serif;
    color: #757575;
    font-size: 15px;
} 